@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;700;800&display=swap');
/* Import de la font Syne depuis Google Fonts et on l'applique sur tous les éléments de la page */


body * {
    font-family: 'Syne', sans-serif;
}


/* HEADER */

.site-logo img {
    width: 60%;
}

#site-header .header-inner {
    padding: 0px;
 }
 
 #site-header .section-inner{
    width: 97%;
    margin-right: 0px;
 }
 
 li.menu-item a {
    color: #000 !important;
    display: inline-block;
    padding-top: 30px ;
    padding-bottom: 30px;
    text-align: center;
    font-family: Syne;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
 }


 li.menu-item:last-child a {
    color: #FFF !important;
    display: inline-block;
    background-color: #DC9F96;
    padding: 30px 60px;
    text-align: center;
    font-family: Syne;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
 }

 
 
 li.menu-item a:hover,
 li.menu-item.current-menu-item a {
    color: #000 !important;
    font-size: 13px;
    font-weight: 700;
    padding-top: 30px ;
    padding-bottom: 30px;
    font-style: normal;
    text-decoration: none !important;
 }



 li.menu-item:last-child a:hover,
 li.menu-item.current-menu-item:last-child a {
    color: #FFF !important;
    display: inline-block;
    background-color: #C02E44;
    padding: 30px 60px;
    text-align: center;
    font-family: Syne;
    font-size: 16px;
    font-style: normal;
    text-decoration: none !important;
}

/* FOOTER */

#site-footer {
    padding: 20px;
    text-align: center;
    border: none;
    margin-top: 0px!important;
 }

 #site-footer a {
    color: black;
    font-family: Syne;
    font-size: 16px;
    font-style: normal;
    text-decoration: none;
    font-weight: 400;
 }

 #site-footer a:hover {
    font-size: 13px;
    text-decoration: none;
    font-weight: 700;
 }

 /* NOUS RENCONTRER */


.wpcf7 .indication {
 font-size: 20px;
 font-weight: 400;
}

.wpcf7 input {
    border-radius: 5px;
    margin-top: 5px;
    box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.04);
}

.wpcf7 textarea {
    border-radius: 5px;
    margin-top: 5px;
    box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.04);
    height: 237px;
    margin-bottom: 30px;
}

.wpcf7 .wpcf7-submit {
    margin: auto;
    display: block;
}

 /* COMMANDER */

 #wpcf7-f103-p39-o1 .indication {
    font-size: 20px;
    font-weight: 400;
    color: white;
   }

   #wpcf7-f103-p39-o1 h2 {
    font-size: 30px;
    font-weight: 700;
    color: white;
   }

   .votre-commande {
    margin-top: 60px;
    padding-bottom: 60px;
    border-top: solid 1px white;
    border-bottom: solid 1px white;
    padding-top: 40px;
    padding-bottom: 20px;
   }

   .votre-commande h2 {
    margin-top: 0px;
    margin-bottom: 40px;
   }

   .gouts {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
   }

   .illu-gout {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 128px;
    width: 192px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 30px;
   }

   .fraise {
    background-image: url("http://localhost:8888/Planty/wp-content/uploads/2023/12/fraises.png"); 
   }

   .framboise {
    background-image: url("http://localhost:8888/Planty/wp-content/uploads/2023/12/framboises.png");
   }

   .pamplemousse{
    background-image: url("http://localhost:8888/Planty/wp-content/uploads/2023/12/pamplemousse.png");
   }

   .citron{
    background-image: url("http://localhost:8888/Planty/wp-content/uploads/2023/12/citrons.png");
   }

   .texte-gout{
    margin: 0;
    padding: 30px 10px;
    text-align: center;
    font-size: 20px;
    color: white;
    font-weight: 800;
   }

   #wpcf7-f103-p39-o1 .wpcf7-number{
    display: block;
    width: 50px;
    height: 56px;
    margin: auto;
   }

   .vos-informations-livraison {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 60px;
    padding-bottom: 80px;
    flex-wrap: wrap;
   }

   .vos-informations-livraison h2 {
    margin-top: 0px;
   }

   .vos-information {
    width: 50%;
    padding-right: 45px;
   }

   .livraison {
    width: 50%;
    padding-left: 45px;
    border-left: solid 1px white;
   }


   /* COMMANDER RESPONSIVE */

   @media (max-width: 768px) {
    .gouts {
        justify-content: space-around;
       }

    .votre-commande h2 {
        text-align: center;
       }

       .vos-informations-livraison h2 {
        text-align: center;
       }

    .vos-information {
        width: 100%;
        padding-right: 0px;
       }
    
       .livraison {
        width: 100%;
        padding-left: 0px;
        padding-top: 40px;
        margin-top: 50px;
        border-left: solid 0px white;
        border-top: solid 1px white;
       }
    
    }
    